* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --master-color: #f44336;
    --font-color: #fff;
    --master-width: 70%
}

.main-header {
    margin-top: -5px;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4 9 30 / 0.7), rgba(4 9 30 / 0.7)), url('../images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav img {
    width: 150px;
}

nav .nav-links {
    flex: 1;
    text-align: right;
}

nav .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav .nav-links ul li a {
    color: var(--font-color);
    text-decoration: none;

}

nav .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--master-color);
    display: block;
    margin: auto;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav .nav-links ul li:hover::after {
    width: 100%;
}

nav .fa-solid {
    display: none;
}

.text-box {
    width: 90%;
    color: var(--font-color);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}

.master-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.master-btn:hover {
    background-color: var(--master-color);

}

@media (max-width: 600px) {
    .text-box h1 {
        font-size: 20px;
    }

    .text-box p {
        font-size: 12px;
    }

    nav .nav-links ul li {
        display: block;
    }

    nav .nav-links {
        position: fixed;
        background-color: var(--master-color);
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 2;
        text-align: left;
        padding: 30px 20px;
        box-sizing: border-box;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    nav .fa-solid {
        display: block;
        color: var(--font-color);
        font-size: 22px;
        cursor: pointer;
    }

}

/* course section */

.course,
.campus,
.facilities,
.testimonials {
    width: var(--master-width);
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #888;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 2% 5%;
}

.course-col {
    /* flex-basis: 31%; */

    background-color: #fff3f3;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.course-col h3 {
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, .2);
}

@media (max-width: 600px) {
    .row {
        /* flex-direction: column; */
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
    }
}

/*  campus section */
/* .campus {
    width: var(--master-width);
    margin: auto;
    text-align: center;
    margin-top: 100px;
} */

.campus-col {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}

.layer:hover {
    background-color: rgba(229, 39, 39, 0.7);

}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: var(--font-color);
    font-size: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/*  Facilties section */
.facilities-col {
    /* flex-basis: 31%; */
    text-align: left;
    margin-top: 5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
}

/*  testimonials  */
.row-2-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 2% 5%;
}

.testimonial-col {
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
    margin-top: 15px;
}

.testimonial-col .fa-solid {
    color: var(--master-color);
}

.testimonial-col h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .row-2-col {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        /* gap */
    }
}


/* Call to Action */
.cta {
    width: var(--master-width);
    margin: 100px auto;
    background-image: linear-gradient(rgba(0 0 0 /0.7), rgba(0 0 0 /0.7)), url('../images/banner2.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cta h1 {
    color: var(--font-color);
    margin-bottom: 40px;
}

@media (max-width:600px) {
    .cta h1 {
        font-size: 22px;
    }
}

/*  foooter */
footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 40px;
}

footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa-brands {
    color: var(--master-color);
    margin: 0 10px;
    cursor: pointer;
    padding: 15px 0;
}

footer .fa-copyright {
    color: var(--master-color);
}

/*  about Page  */
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4 9 30 / 0.7), rgba(4 9 30 / 0.7)), url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

.sub-header h1 {
    margin-top: 100px;
    text-align: center;
    color: var(--font-color);
}

.second-btn {
    border: 1px solid var(--master-color);
    color: var(--master-color);
    background-color: transparent;
}

.second-btn:hover {
    color: var(--font-color);
}

.about-us {
    width: var(--master-width);
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.about-col {
    padding: 30px 0;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}


/* Blog Page */
.blog-content {
    width: var(--master-width);
    margin: auto;
    padding: 60px 0;
}

.row-2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1% 5%;
}

.blog-col-left img {
    width: 100%;
}

.blog-col-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-col-left p {
    padding: 0;
    margin-bottom: 30px;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
.comment-box textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #f0f0f0;

}

.blog-col-right h3 {
    background-color: var(--master-color);
    color: white;
    padding: 8px 0;
    margin-bottom: 15px;
    text-align: center;
}

.blog-col-right>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    /* background-color: aqua; */
    box-sizing: border-box;
    color: #333;
}

/* .blog-col-right>div:hover {
    background-color: #999;
} */

@media (max-width: 600px) {
    .sub-header h1 {
        font-size: 24px;
    }

    .row.blog {
        grid-template-columns: 1fr;
        grid-template-rows: auto 360px;
    }
}


/*  contact page */
.location {
    width: var(--master-width);
    margin: auto;
    padding: 80px 0;
    box-sizing: border-box;
}
.location iframe {
    width: 100%;
}
.contact-us {
    width: var(--master-width);
    margin: auto;
}
.contact-col {
    margin-bottom: 30px;
}
.contact-col.left div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col.left div .fa-solid{
    color: var(--master-color);
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}
.contact-col.left div h5 {
    font-size: 20px;
    margin-bottom: -5px;
    color: #444;
    font-weight: 400;
}

.contact-col input , 
.contact-col textarea{
    border: 1px solid #eee;
    outline: none;
    width: 100%;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
